{% extends 'student/base.html' %} 

{% load staticfiles %} 

{% block css %}
<link rel="stylesheet" href="{% static 'student\finance.css' %}"> 
{% endblock %} 

{% block javascript %}
<script src="#"></script>
{% endblock %} 

{% block title%}Finance{% endblock %} 

{% block activefinance %}active{% endblock %} 

{% block body%}
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col col-lg-12">
            <a class="btn btn-dark" href="{% url 'student:finance-add' %}" role="button">Add Fee</a>
            <a class="btn btn-dark" href="{% url 'student:report' %}" role="button" style="margin-left:10px;">Report</a>
            <div class="form-group float-right">
                <form action="{% url 'student:finance-search' %}" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="fa fa-search input-group-text" style="padding-top:10px;"></i>
                        </div>
                        <input
                                class="form-control"
                                type="text" name="q"
                                value="{{request.GET.q}}"
                                placeholder="Search by Name or Date(YYYY-MM-DD)"
                                style="width:500px;"/>
                    </div>
                </form>
            </div>
            <div style="margin-top:1em" class="card">
                <div class="card-header text-dark table-heading">Fees</div>
                <div class="card-body panel-full">
                    <table class="table table-responsive-sm table-striped table-condensed sortable">
                        <thead>
                            <tr class="text-center">
                                <th align="center">Student</th>
                                <th align="center">Fee Type</th>
                                <th align="center">Fee Date</th>
                                <th align="center">Amount</th>
                                <th align="center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fee in object_list %}
                            <tr class="text-center">
                                <td>{{ fee.student }}</td>
                                <td>{{ fee.fee_name }}</td>
                                <td>{{ fee.fee_date }}</td>
                                <td>{{ fee.fee_amount }}</td>
                                <td style="padding: 0px">
                                    <a class="btn btn-info click" style="display:'inline-block'" href="{% url 'student:finance-update' fee.id %}" role="button">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger click" href="{% url 'student:finance-delete' fee.id %}" role="button">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}