{% extends 'student/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'student\index.css' %}">
{% endblock %}

{% block title%}Xia School of Martial Arts{% endblock %}

{% block activehome%}active{% endblock %}

{% block body %}
<!--Content-->
    <section id="introduction">
        <div class="container-fluid">
            <div class="row fill-viewport align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="text-dark">Welcome Master {{ instructor }}</h1>
                    <blockquote>
                        <p class="lead text-dark-70">Mere technical knowledge is only the beginning of Kung Fu, to master it, one must enter into the spirit of it.</p>
                        <footer class="lead text-dark-40">— Bruce Lee</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
